@model IEnumerable<ECommerceProject1.ViewModel.ThumbnailViewModel>
    @{
        ViewBag.Title = "Home Page";
    }
    @using (Html.BeginForm("Kids", "Home", FormMethod.Get))
    {
        <br />
        <br />
        <div class="row">
            <div class="pull-right" style="padding-right:15px;">
                <button type="submit" value="Search" class="btn btn-sm btn-primary">
                    <span class="glyphicon glyphicon-search"></span>
                    &nbsp;Search
                </button>
            </div>
            <div class="pull-right">
                @Html.Editor("Search", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    }
    <br />
    <br />

    <div class="row">
        @foreach (var area in Model)
        {
            @Html.Partial("_ThumbnailPartial", area);
        }
    </div>

